/*------------------------------------
- Banner
------------------------------------*/

.banner {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transform-style: preserve-3d;
  overflow: hidden;

  &.overlay-black,
  &.overlay-white {
    position: relative;
    z-index: 0;
    color: $color-white;
    
    &:before {
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, .6);
    }
  }
  
  &.overlay-white:before {
    background-color: rgba(255, 255, 255, .6);
  }

  &.overlay-white {
    color: $text-color;
  }

  .container,
  .container-fluid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &.text-center {
      max-width: 80%;
      margin: 0 auto;
    }

    &.text-left,
    &.text-right {
      max-width: 70%;
      margin: 0 30px;
    }

    &.text-right {
      margin-left: auto;
    }
  }


  // Typography
  h1 {
    font-weight: 100;

    strong {
      font-weight: 300;
    }
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }

  // Sizes
  &.auto-size {
    height: auto;
    padding-top: 128px;
    padding-bottom: 48px;

    .container,
    .container-fluid {
      position: static;
      transform: translateY(0) !important;
      top: 0;
    }
  }

  &.banner-sm {
    height: 35vh;

    h1 {
      font-size: 40px;
      line-height: 45px;
    }
  }

  &.banner-lg {
    height: 75vh;

    h1 {
      font-size: 40px;
      line-height: 45px;
    }
  }

  &.banner-full-height {
    height: 100vh;

    .container,
    .container-fluid {
      transform: translateY(-70%);
    }

    h1 {
      font-size: 60px;
      line-height: 70px;
    }

  }

  // Some utility classes
  .social-icons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      padding: 4px 8px;
    }

    a {
      color: $color-white;
    }
  }

  &.has-attached-image {
    height: 100%;

    .container,
    .container-fluid {
      position: static;
      transform: translateY(0);
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }

  .attached-image img {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

}


// Media queries
@media screen and (max-width: 991px) {

  .banner .attached-image img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

}

// Media queries
@media screen and (max-width: 767px) {

  .banner {
    //height: 100vh !important;

    .container,
    .container-fluid {
      transform: translateY(-50%) !important;
      max-width: 100% !important;
    }

    h1 {
      font-size: 30px !important;
      line-height: 38px !important;
    }

    p {
      font-size: 16px;
      line-height: 22px;
    }

    .btn {
      margin-bottom: 8px;
    }

    &.has-attached-image {
      height: 100% !important;
      
      .container,
      .container-fluid {
        position: static;
        transform: translateY(0) !important;
        margin-top: 20%;
        margin-bottom: 15%;
      }
    }

    .attached-image img {
      max-width: 90%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

  }

}