/*------------------------------------
- Requirements
------------------------------------*/

.require-script {
  background-color: $bg-color;
  border: 1px solid $border-color-light;
  border-radius: 3px;
  padding: 15px;
  
  .css,
  .js {
    position: relative;
    padding-top: 25px;
    
    &:before {
      position: absolute;
      top: 0;
      color: $pale-text-color;
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  
  .css:before {
    content: "Required Stylesheet";
  }
  
  .js:before {
    content: "Required Script";
  }
  
  > p+p {
    margin-top: 20px;
  }
  
}

// Media queries
@media screen and (max-width: 480px) {

  .require-script {
    
    .css,
    .js {
      word-break: break-all;
    }
    
  }

}
